h1 {color: rgb(18, 217, 25); 
                text-align: center;}
            
            .login_input { /* 클래스 (CSS 주석 처리) */
                font-size: 25px
            }

            #btn_login { /* 아이디 */
                font-size: 25px; width: 100px; height: 30px; 
            }
            